html {
  font-family: sans-serif;
  height: 100%;
}
body {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  margin: 0px auto;
}
#search {
  margin: 20px 0px;
}
#search form {
  display: inline-block;
}
#listen {
  margin: 5px;
}
h4 {
  margin: 0;
}
button {
  font-size: 1.4em;
}
#progress {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #8f8f9d;
  background-color: #e9e9ed;
  margin: 4px 10px 0px 10px;
  height: .75em;
}
.center {
  text-align:center;
}
#progress > div {
  background-color: #3395ff;
  height: 100%
}
img {
  height: 100px;
}
.artwork {
  display: inline-block;
  vertical-align:top;
  height: 100px;
  min-width: 100px;
  margin: 0px auto 4px;
  background-color: #e9e9ed;
  box-shadow: 2px 2px 5px grey;
}

#queue .artwork, #queue img {
  height: 70px !important;
  min-width: 50px;
  box-shadow: unset !important;
}
#queue .artwork {
  margin: 0px 8px 0px 0px;
  float: left;
}
li {
  padding: 0px;
  margin: 4px 0px;
}
#time {
  position: relative;
}
#time span {
  margin: 0px 10px;
}
#nowplaying .title {
  font-size: 1.2em;

}
.title {
  font-weight: bold;
}
.label {
  display: none
}
#elapsed {
  float: left;
}
#duration,.duration {
  position: absolute;
  top: 2px;
  right: 8px;
}
#duration {
  right: 0px;
}
#queue {
  margin-top: 10px;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
#queue li:nth-child(even) {
  background-color: #e9e9ed;
}
#queue li {
  position: relative;
  padding-right: 50px;
  white-space: nowrap;
}
.meta {
  margin-right:40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}
#queue ol {
  margin-left: 26px;
}
#queue .contents{
  margin-top: 5px;
  overflow-y: auto;
  padding-left: 5px;
}
.empty {
  margin: 5px;
}
li {
  position: relative;
}
ol {
  padding: 0;
  margin: 0;
}
.selected {
  background-color: #0060df !important;
  color:white;
}
#results{
  padding-top: 120px;
}
#playlists{
  padding-top: 90px;
}
#results .albumtitle{
  cursor: pointer;
  user-select: none;
  font-size: 1.2em;
  margin: 10px 0px;
}
#results .album > div > div {
  display: inline-block;
}
#results .album {
  margin-bottom: 10px;
  margin-top: 5px;
}
#results .album .artwork {
  margin-right: 4px;
}
#results .album .artwork img {
  height: 100px;
}
#results .album > span {
  font-size: 1.2em;
}
#results .artist > a{
  font-size: 1.4em;
  margin-bottom: 20px;
}

.songs * {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
.songs div span:hover {
  text-decoration: underline;
}
.playlist.songs div {
  margin-left: 10px;
}
@media screen and (min-width:500px) {
  #results .album {
    margin-left: 30px;
  }
  #results .album .artwork {
    margin-right: 8px !important;
  }
}
#searchmenu {
  position: fixed;
  top: 0px;
  padding:10px 0px 0px 0px;
  left: 0px;
  right: 0px;
  background-color: white;
}
#searchmenu > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px auto;
  max-width: 800px;
}
#searchmenu form { display: inline-block;}
#searchform {
  margin-left:5px; 
  position: relative;
  text-align: left;
}
#searchform input[type=text] { 
  display: inline-block;
  flex-grow: 1;
}
#searchmenu a, input[type=submit], input[type=text] {
  font-size: 1.4em;
}
.actions input {
  font-size: .8em !important;
  font-weight: bold;
  cursor: pointer;
}
.actions {
  position: absolute;
  bottom: 10px;
  right: 5px;
}
#searchform input[type=submit] { display: none;}
#addmenu {
  position: fixed;
  top: 0px;
  padding:5px 0px 0px 0px;
  top: 48px;
  left: 0;
  right: 0;
  background-color: white;
}
#playlistmenu hr {
  margin-bottom: 0;
}
#alpha {
  margin: 0px auto;
  margin-top: 5px;
  padding: 0px 5px;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
}
#alpha a{
  color: #3395ff
}

@media(prefers-color-scheme:dark){
  body, #searchmenu, #playlistmenu, #addmenu { background:#212529 !important; color:#fff; }
  .selected {
    background-color: #0060df !important;
    color:white;
  }
  #queue li:nth-child(even), #progress {
    background: #363e44;
  }
  a { color:#3395ff; }
  dl { background:#292f33; }
  small { color: #ced4da; }
  #queue .contents {
    background-color: inherit;
  }
  #queue li:nth-child(2n+1) {
    background-color: #20272e;
  }
}
