<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script src="/main.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/main.css"/>
    <link rel="icon" href="/favicon.png">
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    <div class="container">
      <div class="center" id="listen"></div>
      <audio id="stream" src="{{ streamURL }}"  preload="none"></audio>
      <noscript>
        <p class="center"><a target="_blank" href="{{ streamURL }}">{{ streamURL }}</a></p>
      </noscript>
      {% include 'nowplaying.html' %}
      <div id="search" class="center">
        <form action="/search"><input onclick="popup(); return false;" type="submit" value="Search"></form>
      </div>
    </div>
    <script type="text/javascript">
      const loop = setInterval(progressUpdate, 1000)
      if (window.location.hash != '#d') setInterval(getNowPlaying,{{ updateFreq }}*1000)
      addListenButton()
    </script>
    {% if debug %}<script src="/ws.js" type="text/javascript"></script>{% endif %}
  </body>
</html>
