<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="/main.css"/>
    <link rel="icon" href="/favicon.png">
    <script src="/main.js" type="text/javascript"></script>
    <title>Playlists</title>
  </head>
  <body>
    <div id="searchmenu">
      <div>
        <form action="/{% if name %}playlist/{%endif%}"><input onclick="window.close()" type="submit" value="Back"></form>
      </div>
    </div>
    <div>
        <form action="/nowplaying" method="POST">
          <div id="addmenu" class="center">
            <input type="submit" name="submit" value="Add">
            {% if local %}<input type="submit" name="submit" value="Play">{% endif %}
            <hr style="margin-bottom: 0;"/>
          </div>
    <div id="playlists">
      {% for list in lists %}
      <div>
        <a
          href="{{list.playlist|urlencode}}"
          onclick="playlistClick(event)"
          >{{list.playlist}}</a>
      </div>
      {% endfor %}
      {% if songs %}
      {% include 'playlist.html' %}
      {% endif %}
        </form>
      </div>
    </div>
    </div>
  </body>
</html>
