<html>
  <head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="/main.css"/>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/htmx.org@1.6.1" defer></script>
  </head>
  <body>
    <div id="searchmenu" class="center">
      <div>
        <form action="/"><input onclick="window.close()" type="submit" value="Back"></form>
        <form id="searchform">
          <input 
            type="text"
            placeholder="search"
            name="q"
            value="{{q}}"
            autocomplete="off"
            autofocus
          >
          <input type="submit" value="Search">
        </form>
      </div>
    </div>
    {% if results %}
    <form action="/nowplaying?redirect" method="POST">
      <div id="addmenu" class="center">
        <input type="submit" value="Add selected songs">
        <div id="alpha">{% for x in range(26) %}
          {% if (65+x) in results|firstlist %}<a href="#{{(65+x)|chr}}" >{{(65+x)|chr}}</a>{%else%}<span>{{(65+x)|chr}}</span>{% endif %}{% endfor %}</div>
      </div>
      <div id="results">
        {% include 'results.html' %}
      </div>
    </form>
    {% elif q %}
    <div>No results</div>
    {% endif %}
    <script type="text/javascript">
      var ws = new WebSocket('ws://'+window.location.hostname+':8080/');
      let x = false
      ws.onmessage = () => {
        if (x) window.location.reload();
        x = true
      }
    </script>
  </body>
</html>
