<html>
  <head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="/main.css"/>
    <link rel="icon" href="/favicon.png">
    <script src="/main.js" type="text/javascript"></script>
    <title>Music Search</title>
  </head>
  <body>
    <div id="searchmenu" class="center">
      <div>
        <form action="/{% if artist %}search{%endif%}"><input onclick="window.close()" type="submit" value="Back"></form>
        <form id="searchform">
          <input 
            type="text"
            placeholder="search"
            name="q"
            value="{{q}}"
            autocomplete="off"
            autofocus
          >
          <input type="submit" value="Search">
        </form>
      </div>
    </div>
    {% if results %}
    <form action="/nowplaying" method="POST">
      <div id="addmenu" class="center">
        <input type="submit" name="submit" value="Add selected songs">
        <div id="alpha">
          {# if results|firstlist contains hash #}
          {% for x in range(26) %}
          {% if (65+x) in results|firstlist %}<a href="#{{(65+x)|chr}}" >{{(65+x)|chr}}</a>{%else%}<span>{{(65+x)|chr}}</span>{% endif %}{% endfor %}</div>
      </div>
      <div id="results">
        {% include 'results.html' %}
      </div>
    </form>
    {% elif q %}
    <div>No results</div>
    {% endif %}
    {% if debug %}<script src="/ws.js" type="text/javascript"></script>{% endif %}
  </body>
</html>
